@media (max-width: 488px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .navList {
    flex-direction: column;
    gap: 10px;
  }
  .navList ul {
    display: flex;
    gap: 10px;
    list-style: none;
  }
}
