@media (max-width: 488px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }
  .navList {
    flex-direction: column;
    gap: 10px;
  }
  .navList ul {
    gap: 15px;
  }
  .navList ul li a {
    font-size: 13px;
  }
  .landingPageContainer {
    padding: 20px 40px;
  }
  .landingPage {
    flex-direction: column;
    height: auto;
    padding: 0px;
  }
  .textContainer h1 {
    font-size: 50px;
    width: 100%;
  }
  .textContainer p {
    font-size: 15px;
  }
}
